body{
    margin:0px;
    background-color:#fff7f0;
    font-family: "Comfortaa", sans-serif;

}

h1{
    font-family: "VT323", monospace;
    font-size: 55px;
    color:#AD0000;
}

h2{ 
    font-family: "VT323", monospace;
    font-size: min(2.5em, 5vw);
}

p{
    color:#630000;
    font-size: min(1.2em, 2vw);
}

/*Horizontal line*/
hr{
    border: 2px solid #AD0000;
    float:center;
    margin: 0% 10% 0%;
}

/*Main NAVIGATION area*/
.NAV{
    margin-top:3%;
    align-items:center;
    margin-bottom:7%;
}

/*Sub NAVIAGTION area*/
.NAV img{
    width:min(4em, 7vw);
    display:inline;
    vertical-align:middle;
    margin:2% 5% 2%;
}

.NAVCOLLAP {
    text-decoration: none;
    font-family: "VT323", sans-serif;
    color:#630000;
    padding:0.5em 1em 0.5em;
    font-size: min(2.5em, 5vw);
    transition: padding 0.3s;
    display:inline-block;
    vertical-align:middle;
    border:none;
    background-color: #fff7f0;
}

.active, .NAVCOLLAP:hover {
    color:#AD0000;
    padding: 0.5em 1.8em 0.5em;
    border-left-style: solid;
    border-right-style: solid;
}

.HOMEBUT a {
    text-decoration: none;
    margin-left:10%;
    font-family: "VT323", sans-serif;
    color:#630000;
    padding:0.5em 1em 0.5em;
    font-size: min(2.5em, 5vw);
    transition: padding 0.3s;
    display:inline-block;
    vertical-align:middle;
    border:none;
    background-color: none;
}

.HOMEBUT:hover a {
    color:#AD0000;
    padding: 0.5em 1.8em 0.5em;
    border-left-style: solid;
    border-right-style: solid;
}

.HOMEBUT, .CONTENTCOLLAP{
    display:inline-block;
}

.contentone{
    grid-area:contentone;
    color:#fff7f0;
    text-align:center;
}

.contentone a{
    color:#fff7f0;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    display:block;
    padding:0.5em 1em 0.5em;
    font-size: min(1.2em, 2vw);
}

.contentone > a:hover{
    border-left-style: solid;
    border-right:solid;
}

.contenttwo{
    grid-area:contenttwo;
    color:#fff7f0;
    text-align:center;
}

.contenttwo a{
    color:#fff7f0;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    display:block;
    padding:0.5em 1em 0.5em;
    font-size: min(1.2em, 2vw);
}

.contenttwo > a:hover{
    border-left-style: solid;
    border-right:solid;
}

.contentthree{
    grid-area:contentthree;
    color:#fff7f0;
    text-align:center;
}

.contentthree a{
    color:#fff7f0;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    display:block;
    padding:0.5em 1em 0.5em;
    font-size: min(1.2em, 2vw);
}

.contentthree > a:hover{
    border-left-style: solid;
    border-right:solid;
}

.CONTENTCOLLAP{
    display:grid;
    grid-template-areas: 
    "contentone contenttwo contentthree"
    "contentone contenttwo contentthree";
    grid-template-columns: 1fr 1fr 1fr;
    padding:10px;
    display: none;
    overflow: hidden;
    background-color: #AD0000;
}

.CONTENTCOLLAP > div{
    margin:5%;
    display: inline-block;
}

/*Main BODY area*/
.TOPIMG{
    grid-area: TOPIMG;
}

.TOPTXT{
    grid-area: TOPTXT;
}

.TOP{
    display:grid;
    grid-template-areas:
    "TOPIMG TOPTXT TOPTXT";
    padding:10px;
    margin:0% 10% 5%;
    grid-template-columns:1.5fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.5;
    align-content: center;
    justify-content: center;
    grid-gap:5%;
}

.TOP > div{
    margin:5px;
}

/*Sub BODY area*/
.TOP img{
    width:100%;
}

/*Main TOPIC area*/
.TOPICO{
    grid-area:TOPICO;
}

.TOPICF{
    grid-area:TOPICF;
}

.TOPICC{
    grid-area:TOPICC;
}

.IMGO{
    grid-area:IMGO;
}

.IMGF{
    grid-area:IMGF;
}

.IMGC{
    grid-area:IMGC;
}

.LINKO{
    grid-area:LINKO;
}

.LINKF{
    grid-area:LINKF;
}

.LINKC{
    grid-area:LINKC;
}

.TOPICSEC{
    display:grid;
    grid-template-areas:
    "TOPICO TOPICF TOPICC"
    "IMGO IMGF IMGC"
    "IMGO IMGF IMGC"
    "LINKO LINKF LINKC";
    grid-template-columns: 1fr 1fr 1fr;
    margin:5% 10% 10%;
    grid-gap:5%;
}

/*Sub TOPIC area*/
.TOPICSEC img{
    width:100%;
}

.TOPICSEC h2{
    color:#AD0000;
}

.LINKO, .LINKC, .LINKF{
    text-align:center;
}

.LINKO a, .LINKC a, .LINKF a{
    text-decoration: none;
    font-family: "VT323", sans-serif;
    color:#630000;
    padding:0.5em 1em 0.5em;
    font-size: min(2em, 2vw);
    transition: padding 0.3s;
    border:none;
    background-color: #fff7f0;
}

.LINKO:hover a, .LINKC:hover a, .LINKF:hover a{
    color:#AD0000;
    padding: 0.5em 3em 0.5em;
    border-left-style: solid;
    border-right-style: solid;
}


/*Main STUDY area*/
.STUDYIO{
    grid-area: STUDYIO;
}

.STUDYTO{
    grid-area: STUDYTO;
}

.STUDYIT{
    grid-area: STUDYIT;
}

.STUDYTT{
    grid-area: STUDYTT;
}

.STUDYSEC{
    display:grid;
    grid-template-areas:
    "STUDYIO STUDYTO STUDYTO"
    "STUDYIT STUDYTT STUDYTT";
    margin:5% 10% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5%;
}
.STUDYBOX{
    padding-top:3%;
    padding-bottom:5%;
    background-color: #AD0000;
}
/*Sub STUDY area*/
.STUDYBOX h1{
    color:#fff7f0;
}

.STUDYSEC img{
    width:100%;
}

.STUDYSEC h2{
    color:#fff7f0;
}

.STUDYSEC p{
    color:#fff7f0;
}

.STUDYSEC a{
    text-decoration: none;
    font-family: "VT323", sans-serif;
    color:#fff7f0;
    padding:0.3em 1em 0.3em 1em;
    font-size: min(2em, 2vw);
    transition: padding 0.3s;
    border-left-style: solid;
}

.STUDYTO a:hover, .STUDYTT a:hover{
    padding:0.3em 3em 0.3em;
    border-left-style: solid;
    border-right-style: solid;
}

#STUDYTITLE{
    text-align: center;
}

/*Flashcards Heading*/
.FLASHHEAD{
    margin:5% 10% 2%;
}

/*Main FLASHCARDS area*/
.CARDS{
    grid-area:CARDS;
}

.FLASHHINT{
    grid-area:FLASHHINT;
    background-color:#AD0000;
    align-content: center;
    text-align:center;
}

.FLASHANS{
    grid-area:FLASHANS;
    background-color:#AD0000;
    align-content: center;
    text-align:center;
}

.FLASHSLIDERS{
    grid-area:FLASHSLIDERS
}

.FLASHSEC{
    display:grid;
    grid-template-areas: 
    "CARDS CARDS CARDS FLASHHINT FLASHHINT"
    "CARDS CARDS CARDS FLASHANS FLASHANS"
    "FLASHSLIDERS FLASHSLIDERS FLASHSLIDERS FLASHSLIDERS FLASHSLIDERS";
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-gap:5%;
    margin: 5% 10% 5%;
}

/*Sub FLASHCARDS area*/
.CARDS img{
    width:100%;
}

.FLASHSLIDERS{
    text-align:center;
}

.FLASHSLIDERS > a{
    margin:5%;
}

.FLASHSEC h2{
    color:#fff7f0;
}

.FLASHHINT:hover{
    background-color:#630000;
}

.FLASHANS:hover{
    background-color:#630000;
}

@media only screen and (max-width: 600px) {
    /*NAV*/
    .NAV {
        margin-left:none;
    }

    .CONTENTCOLLAP{
        grid-template-areas: 
        "contentone"
        "contenttwo" 
        "contentthree";
        grid-template-columns: 1fr;
    }

    .NAV img{
        display:block;
        margin:auto;
        overflow:hidden;
    }
}