body{
    margin:0px;
    background-color:#fff7f0;
    font-family: "Comfortaa", sans-serif;
}

h1{
    font-family: "VT323", monospace;
    font-size: min(15em, 5vw);
    color:#AD0000;
}

h2{ 
    font-family: "VT323", monospace;
    font-size: min(2.5em, 5vw);
}

p{
    color:#630000;
    font-size: min(1.2em, 2vw);
}

a{
    font-family: "VT323", monospace;
}

/*Horizontal line*/
hr{
    border: 2px solid #AD0000;
    float:center;
    margin: 0% 10% 0%;
}

/*Main NAVIGATION area*/
.NAV{
    margin-top:3%;
    align-items:center;
    margin-bottom:7%;
}

/*Sub NAVIAGTION area*/
.NAV img{
    width:min(4em, 7vw);
    display:inline;
    vertical-align:middle;
    margin:2% 5% 2% 11.5%;
}

.NAVCOLLAP {
    text-decoration: none;
    margin-left:1.5%;
    font-family: "VT323", sans-serif;
    color:#AD0000;
    padding:0.5em 1em 0.5em;
    font-size: min(2.5em, 5vw);
    transition: padding 0.3s;
    display:inline-block;
    vertical-align:middle;
    border:none;
    background-color: #fff7f0;
}

.active, .NAVCOLLAP:hover {
    color:#630000;
    padding: 0.5em 1.8em 0.5em;
    border-left-style: solid;
    border-right-style: solid;
}

.HOMEBUT a {
    text-decoration: none;
    margin-left:10%;
    font-family: "VT323", sans-serif;
    color:#AD0000;
    padding:0.5em 1em 0.5em;
    font-size: min(2.5em, 5vw);
    transition: padding 0.3s;
    display:inline-block;
    vertical-align:middle;
    border:none;
    background-color: none;
}

.HOMEBUT:hover a {
    color:#630000;
    padding: 0.5em 1.8em 0.5em;
    border-left-style: solid;
    border-right-style: solid;
}

.HOMEBUT, .CONTENTCOLLAP{
    display:inline-block;
}

.contentone{
    grid-area:contentone;
    color:#fff7f0;
    text-align:center;
}

.contentone a{
    color:#fff7f0;
    text-decoration: none;
    display:block;
    padding:0.5em 1em 0.5em;
    font-size: min(2em, 2vw);
}

.contentone > a:hover{
    border-left-style: solid;
    border-right:solid;
}

.contenttwo{
    grid-area:contenttwo;
    color:#fff7f0;
    text-align:center;
}

.contenttwo a{
    color:#fff7f0;
    text-decoration: none;
    display:block;
    padding:0.5em 1em 0.5em;
    font-size: min(2em, 2vw);
}

.contenttwo > a:hover{
    border-left-style: solid;
    border-right:solid;
}

.contentthree{
    grid-area:contentthree;
    color:#fff7f0;
    text-align:center;
}

.contentthree a{
    color:#fff7f0;
    text-decoration: none;
    display:block;
    padding:0.5em 1em 0.5em;
    font-size: min(2em, 2vw);
}

.contentthree > a:hover{
    border-left-style: solid;
    border-right:solid;
}

.CONTENTCOLLAP{
    display:grid;
    grid-template-areas: 
    "contentone contenttwo contentthree"
    "contentone contenttwo contentthree";
    grid-template-columns: 1fr 1fr 1fr;
    padding:10px;
    display: none;
    overflow: hidden;
    background-color: #AD0000;
}

.CONTENTCOLLAP > div{
    margin:5%;
    display: inline-block;
}

/*Main BODY area*/
.TOPIMG{
    grid-area: TOPIMG;
}

.TOPTXT{
    grid-area: TOPTXT;
}

.TOPSUBT{
    grid-area: TOPSUBT;
}

.TOP{
    display:grid;
    grid-template-areas:
    "TOPIMG TOPTXT TOPTXT"
    "TOPIMG TOPTXT TOPTXT";
    padding:10px;
    margin:0% 10% 5%;
    grid-template-columns:2fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.5;
    align-content: center;
    justify-content: center;
    grid-gap:5%;
}

.TOP > div{
    margin:5px;
}

/*Sub BODY area*/
.TOP img{
    width:100%;
}

.TOPTXT h1{
    margin-bottom:2%;
}

/*Main TOPIC area*/
.TOPICO{
    grid-area:TOPICO;
}

.TOPICF{
    grid-area:TOPICF;
}

.TOPICC{
    grid-area:TOPICC;
}

.IMGO{
    grid-area:IMGO;
}

.IMGF{
    grid-area:IMGF;
}

.IMGC{
    grid-area:IMGC;
}

.LINKO{
    grid-area:LINKO;
}

.LINKF{
    grid-area:LINKF;
}

.LINKC{
    grid-area:LINKC;
}

.TOPICSEC{
    display:grid;
    grid-template-areas:
    "TOPICO TOPICF TOPICC"
    "IMGO IMGF IMGC"
    "IMGO IMGF IMGC"
    "LINKO LINKF LINKC";
    grid-template-columns: 1fr 1fr 1fr;
    margin:5% 10% 10%;
    grid-gap:5%;
    text-align:center;
}

/*Sub TOPIC area*/
.TOPICSEC img{
    width:100%;
    
}

.TOPICSEC h2{
    color:#AD0000;
}

.LINKO, .LINKC, .LINKF{
    text-align:center;
}

.LINKO a, .LINKC a, .LINKF a{
    text-decoration: none;
    font-family: "VT323", sans-serif;
    color:#AD0000;
    padding:0.5em 2em 0.5em;
    font-size: min(2em, 2vw);
    transition: padding 0.3s;
    border-left-style: solid;
    border-right-style: solid;
    background-color: #fff7f0;
}

.LINKO:hover a, .LINKC:hover a, .LINKF:hover a{
    padding: 0.5em 3.5em 0.5em;
    color:#fff7f0;
    background-color:#630000;
    border:none;
}


/*Main STUDY area*/
.STUDYIO{
    grid-area: STUDYIO;
}

.STUDYTO{
    grid-area: STUDYTO;
}

.STUDYIT{
    grid-area: STUDYIT;
}

.STUDYTT{
    grid-area: STUDYTT;
}

.STUDYSEC{
    display:grid;
    grid-template-areas:
    "STUDYIO STUDYTO STUDYTO"
    "STUDYIT STUDYTT STUDYTT";
    margin:5% 10% 10%;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap:5%;
}

.STUDYBOX{
    padding-top:3%;
    padding-bottom:5%;
    background-color: #AD0000;
}
/*Sub STUDY area*/
.STUDYBOX h1{
    color:#fff7f0;
}

.STUDYSEC img{
    width:100%;
}

.STUDYSEC h2{
    color:#fff7f0;
    margin-top:0.5%;
}

.STUDYSEC p{
    color:#fff7f0;
}

.STUDYSEC a{
    text-decoration: none;
    font-family: "VT323", sans-serif;
    color:#fff7f0;
    padding:0.3em 1em 0.3em 1em;
    font-size: min(2em, 2vw);
    transition: padding 0.3s;
    border-left-style: solid;
}

.STUDYTO a:hover, .STUDYTT a:hover{
    padding:0.3em 3em 0.3em;
    border-left-style: solid;
    border-right-style: solid;
}

#STUDYTITLE{
    text-align: center;
}

/*Flashcards Heading*/
.FLASHHEAD{
    margin:5% 10% 2%;
}

/*Main FLASHCARDS area*/
.CARDS{
    grid-area:CARDS;
}

.FLASHANS{
    grid-area:FLASHANS;
    align-content: center;
    text-align:center;
}

.FLASHSLIDERS{
    grid-area:FLASHSLIDERS;
    text-align:center;
    margin-top:5%;
}

.FLASHSEC{
    display:grid;
    grid-template-areas: 
    "CARDS CARDS CARDS FLASHANS FLASHANS"
    "CARDS CARDS CARDS FLASHANS FLASHANS"
    "FLASHSLIDERS FLASHSLIDERS FLASHSLIDERS FLASHSLIDERS FLASHSLIDERS";
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-gap:5%;
    margin: 5% 10% 5%;
}

/*Sub FLASHCARDS area*/
.CARDS img{
    width:100%;
}
.FLASHANS img{
    width:100%;
}

.FLASHSLIDERS > a{
    margin:5%;
}

.FLASHSEC h2{
    color:#fff7f0;
}


.prev, .next{
    color:#fff7f0;
    background-color: #AD0000;
    border-radius:100%;
    padding:1em 1.3em 1em;
    cursor:pointer;
    user-select:none;
}

@media only screen and (max-width: 600px) {
    h1{
        font-family: "VT323", monospace;
        font-size: min(20em, 15vw);
        color:#AD0000;
    }

    h2{ 
        font-family: "VT323", monospace;
        font-size: min(12.5em, 9vw);
    }

    p{
        color:#630000;
        font-size: min(9em, 4vw);
    
    }
    /*NAV*/
    .NAV {
        margin-left:none;
    }

    .CONTENTCOLLAP{
        grid-template-areas: 
        "contentone"
        "contenttwo" 
        "contentthree";
        grid-template-columns: 1fr;
    }

    .contentone a, .contenttwo a, .contentthree a{
        font-size: min(10em, 5vw);
    }

    .contenttwo h2, .contentthree h2{
        margin-top:2%;
    }

    .contentone h2, .contenttwo h2, .contentthree h2{
        margin-bottom:2%;
    }

    .HOMEBUT a, .NAVCOLLAP{
        font-size: min(12.5em, 9vw);
        margin-left:0px;
        margin:auto;
    }

    .NAVCOLLAP{
        display:block;
    }

    .HOMEBUT{
        display:block;
        width:100%;
        text-align:center;
    }

    .NAV img{
        width:min(20em, 15vw);
        display:block;
        margin:auto;
        overflow:hidden;
    }
    /*TOP*/
    .TOP{
        grid-template-areas:
        "TOPIMG"
        "TOPIMG"
        "TOPTXT";
        grid-template-columns: 1fr;
        grid-gap:2%;
        text-align:center;
    }

    .TOPTXT h1{
        margin-top:2%;
    }

    /*TOPIC*/
    .TOPICSEC{
        grid-template-areas:
        "TOPICO"
        "IMGO"
        "IMGO"
        "LINKO"
        "TOPICF"
        "IMGF"
        "IMGF"
        "LINKF"
        "TOPICC"
        "IMGC"
        "IMGC"
        "LINKC";
        grid-template-columns: minmax(0, 1fr);
        grid-gap:1%;
        margin-bottom:40%;
        flex-grow:1;
        flex-grow:1;
        min-height: 0;
    }

    .TOPICSEC h2{
        margin-bottom:2%;
    }

    .LINKO a, .LINKC a, .LINKF a{
        font-size: min(10em, 5vw);
        
    }

    .TOPICSEC img{
        max-height: 100%;
        max-width: 100%;
    }

    /*STUDY*/
    .STUDYBOX{
        display: grid;
    }

    .STUDYSEC{
        grid-template-areas:
        "STUDYIO" 
        "STUDYTO" 
        "STUDYTO"
        "STUDYIT" 
        "STUDYTT"
        "STUDYTT";
        grid-template-columns: 1fr;
        grid-gap:1%;
    }

    .STUDYSEC h2{
        margin-bottom:2%;
    }

    .STUDYSEC a{
        font-size: min(10em, 5vw);
    }

    .STUDYTO, .STUDYTT{
        margin-bottom:10%;
    }

    .STUDYTT{
        text-align:right;
    }

    .STUDYTT a{
        color:#fff7f0;
        padding:0.3em 1em 0.3em 1em;
        transition: padding 0.3s;
        border-right-style: solid;
        border-left-style: none;
    }

    .STUDYTT a:hover{
        padding:0.3em 3em 0.3em;
        border-left-style: solid;
        border-right-style: solid;
    }
}