body{
    margin:0px;
    background-color:#e7d5c6;
}

/*Main NAVIGATION area*/
.NAV{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:#e7d5c6;
    padding:30px 0px 20px;
}

/*Sub NAVIAGTION area*/
.NAV a{
    width: 100px;
    font-family: "VT323", monospace;
    align-content: left;
    color:#23344a;
    padding:10px 30px 10px;
    font-size:35px;
    transition: padding 0.5s;
    border-left-style: solid;
    border-right-style: solid;
}
.NAV a:hover{
    background-color:#e7d5c6;
    color:#0c1725;
    padding: 10px 40px 10px;
    border-left-style: solid;
    border-right-style: solid;
}